@font-face {
  src: url(fonts/metropolis/Metropolis-Light.otf);
  font-family: metropolis-light;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: metropolis-light;
  letter-spacing: 2px;
}

body {
  justify-content: center;
  text-align: center;
  font-weight: 200;
}

#title {
  padding: 30px;
  font-size: 15px;
  font-weight: 100;
}

.slick-center {
  transform: scale(1.15)
}

.slick-slide, .slick-slide * {
  outline: none !important;
}
.slide {
  position: relative;
  margin: 50px 0;
  text-align: center;
}

.slide .front-image {
  height: 350px;
  width: 350px;
  padding: 20px;
  margin: auto;
}

.slide .back-image {
  position: relative;
  z-index: -10;
  height: 350px;
  width: 350px;
  margin: auto;
  margin-top: -350px;
}

.slide .country {
  color: white;
  font-size: 20px;
  font-weight: 200;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%
}

.slide .area {
  color: white;
  font-size: 13px;
  font-weight: 200;
  position: absolute;
  text-align: center;
  top: 55%;
  width: 100%
}

.slide .view-itinery {
  color: white;
  font-size: 11px;
  font-weight: 200;
  position: absolute;
  text-align: center;
  top: 80%;
  width: 100%
}


#end-note {
  margin-top: 150px;
  font-size: 12px;
  font-weight: 100;
  border-top: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #F0F0F0;
  border-left: 1px solid #F0F0F0;
  padding: 20px;
  display: inline-block;
}

.nextArrow {
  background-image: url('./assets/Icon/Arrow/nextArrow.png');
  height: 20px;
  width: 20px;
  right: 30% !important;
  z-index: 1;
}

.slick-prev {
  left: 30% !important;
  color: black;
  z-index: 1;
}
.slick-next {
  right: 33% !important;
  z-index: 1;
}

/* this gets rid of thier arrow */
.slick-prev:before, .slick-next:before {
  display: none;
}
