// @ font-face {
//   src: url(fonts/metropolis/Metropolis-Light.otf);
//   font-family: metropolis-light;
// }

* {
  box-sizing: border-box;
  margin: 0;
  font-family: metropolis-light;
  letter-spacing: 2px;
}

body {
  justify-content: center;
  text-align: center;
  font-weight: 200;
}

#title {
  margin: 30px;
  padding: 30px 0 30px 0;
  font-size: 20px;
  font-weight: 100;
}

#end-note {
  margin-top: 150px;
  font-size: 12px;
  font-weight: 100;
  border-top: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #F0F0F0;
  border-left: 1px solid #F0F0F0;
  padding: 20px;
  display: inline-block;
}

.slide {
  position: relative;
  margin: 50px 0;
  text-align: center;
  .front-image {
    height: 350px;
    width: 350px;
    padding: 10px;
    margin: auto;
  }
  .back-image {
    position: relative;
    z-index: -10;
    height: 350px;
    width: 350px;
    margin: auto;
    margin-top: -350px;
  }
  .country {
    color: white;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%
  }
  .area {
    color: white;
    font-size: 13px;
    font-weight: 200;
    position: absolute;
    text-align: center;
    top: 55%;
    width: 100%
  }
  .view-itinery {
    color: white;
    font-size: 11px;
    font-weight: 200;
    position: absolute;
    text-align: center;
    top: 80%;
    width: 100%;
    text-decoration: underline;
  }
}


.slick-center {
  transform: scale(1.3);
  transition: all .6s ease-in-out;
}

.slick-slide, .slick-slide * {
  outline: none !important;
}


.slick-prev {
  left: 25%;
  z-index: 1;
  &:before {
    display: none; // this makes the default arrow disappear
  }
}

.slick-next {
  right: 25%;
  z-index: 1;
  &:before {
    display: none; // this makes the default arrow disappear
  }
}

.arrow {
  width: 25px;
  opacity: 0.4;
}

/**************************** MEDIA QUERIES ***********************************/


@media only screen and (max-width: 1250px) {
  .slick-prev {
    left: 15%;
  }

  .slick-next {
    right: 15%;
  }

  #end-note{
    margin: 100px 0 0 0;
  }

}

@media only screen and (max-width: 580px) {

  .slide .front-image {
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: auto;
  }

  .slide .back-image {
    position: relative;
    z-index: -10;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: -300px;
  }
}

@media only screen and (max-width: 470px) {

  .slide {
    .front-image {
      height: 260px;
      width: 260px;
      padding: 10px;
    }
    .back-image {
      z-index: -10;
      height: 260px;
      width: 260px;
      margin-top: -260px;
    }
  }

  #title {
    font-size: 25px;
    font-weight: 100;
    width: 200px;
    margin: auto;
    padding: 30px 0 0 0;
  }

  #end-note {
    margin: 30px 0 0 0;
    width: 260px;
    height: 50px;
    font-size: 12px;
  }

  .slick-prev {
    left: 1%;
    z-index: 1;
  }
  .slick-next {
    right: 2%;
    z-index: 1;
  }
}
